@model IEnumerable<playground.Models.Task>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <title>Responses</title>
    <style>
        h1 {
            text-align: center;
            font-size: 250%;
            position: relative;
            background: #b30000;
        }
        p {
            text-align: center;
            font-size: 200%;
        }
        p1 {
            font-size: 150%;
        }

        footer {
            position: fixed;
            width: 100%;
            left: 0;
            bottom: 0;
            background: #b30000;
            color: black;
        }
    </style>
</head>
<body>
    <h1>Task Manager</h1>
    <h2>All your tasks </h2>
    <table class="table table-sm table-striped table-bordered">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Start date</th>
                <th>Finish date</th>
                <th>Priority</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (playground.Models.Task r in Model)
            {
                <tr>
                    <td width="15%">@r.Name</td>
                    <td width="35%">@r.Desc</td>
                    <td width="15%">@r.StartDate</td>
                    <td width="15%">@r.Deadline</td>
                    <td width="12%">@r.Prior</td>
                    <td width="8%">
                        <form id="@r.Id" asp-controller="Modify" asp-action="Deletion" method="post">
                            <input type="hidden" name="id" value="@r.Id" />
                            <button class="btn btn-primary btn-sm pull-left" style="float:left" type="submit">
                                Delete
                            </button>
                        </form>
                        <form id="@r.Id" asp-controller="Modify" asp-action="Edition" method="get">
                            <input type="hidden" name="id" value="@r.Id" />
                            <button class="btn btn-primary btn-sm pull-right" style="float:right" type="submit">
                                Edit
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <p><a asp-controller="Data" asp-action="Insertion">Click here if you want to insert!</a></p>
    <p><a asp-controller="Repository" asp-action="ListRepository">Go back to repositories!</a></p>
    <footer>
        <p1>All rights and lefts reserved</p1>
    </footer>
</body>
</html>